body {
    margin: 0;
    text-align: center;
    background: linear-gradient(45deg, rgb(148, 4, 52), rgb(0, 4, 255));
}

div {
    font-family: Arial, Helvetica, sans-serif|;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: normal;  
}

.sansserif.it {
    font-style: italic;
}

.notebox {
    border: 4px solid rgb(0, 0, 0);
    padding: 20px;
}

.notebox.alert {
    border-color: rgb(11, 8, 82);
    font-weight: bold;
}